// Mixins Here
.display() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.height-top-nav() {
    height: 10rem;
}

.display-nav() {
    display: flex;
    justify-content: space-around;
}

.nav-a() {
    text-decoration: none;
    color: black;
}

.button(@background, @color) {
    background-color: @background;
    color: @color;
    .button-size(@h, @w){
        height:@h;
        width:@w;
    }
    &:hover {
        background-color: @color;
        color: @background;
        cursor: pointer;
        
    }
}

