// Navigation code here
.nav-top {
    background-color: @top-nav-background;
    .display();
    .height-top-nav();
    font-size: 1.5rem;
    width: 100%;
    @media @phone {
        
         width: 100%;
        
         
        

    }
         
        nav {
            display: flex;
            justify-content: center;
            justify-content: space-around;
            width: 30%;

            @media @phone {
                width: 80%;
            }
            
            
        }

        
}
       
    
    


h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

nav {
    .display-nav();
    a{
        .nav-a();
    }
    
    width: 30%;
}